.bg-learode {
 background-color:#DEEDC7 !important
}
.super-text {
 color: #000;
 text-shadow: 0px 0px 16px rgba(150, 150, 150, 1);
 font-size: 24px;
}
.copyright-text {
  color: #000000;
  font-size: 18px;
  text-shadow: 0px 0px 2px #CCCCCC;
}
.bg-navbar {
 background: #bdd879; /* Old browsers */
 background: -moz-linear-gradient(top, #bdd879 0%, #cbd8ab 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top, #bdd879 0%,#cbd8ab 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom, #bdd879 0%,#cbd8ab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdd879', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.bg-footer {
 background: #cbd8ab; /* Old browsers */
 background: -moz-linear-gradient(top, #cbd8ab 0%, #bdd879 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top, #cbd8ab 0%,#bdd879 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom, #cbd8ab 0%,#bdd879 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbd8ab', endColorstr='#bdd879',GradientType=0 ); /* IE6-9 */
}
.card-learode
{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-image-frame
{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.card-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.card-image
{
    vertical-align: middle;
    white-space: nowrap;
    width: 80px;
    margin-left: 20px;
}
.card-read {
    vertical-align: middle;
    padding-top: 4.3em;
    padding-left: 6em;
    margin-left: auto;
    margin-right: auto;
}
.btn-auth,
.btn-auth:visited {
    position: relative;
    display: inline-block;
    height: 22px;
    padding: 0 1em;
    border: 1px solid #999;
    border-radius: 2px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    color: #222;
    background: #fff;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* iOS */
    -webkit-appearance: none; /* 1 */
    /* IE6/7 hacks */
    *overflow: visible;  /* 2 */
    *display: inline; /* 3 */
    *zoom: 1; /* 3 */
}

.btn-auth:hover,
.btn-auth:focus,
.btn-auth:active {
    color: #222;
    text-decoration: none;
}

.btn-auth:before {
    content: "";
    float: left;
    width: 22px;
    height: 22px;
    background: url(auth-icons.png) no-repeat 99px 99px;
}

/**
 * 36px
 */

.btn-auth.large {
    height: 36px;
    line-height: 36px;
    font-size: 20px;
}

.btn-auth.large:before {
    width: 36px;
    height: 36px;
}

/*
 * Remove excess padding and border in FF3+
 */

.btn-auth::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.btn-github,
.btn-github:visited {
    border-color: #111a51;
    background: #434868;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cbd8ab), to(#bdd879));
    background-image: -webkit-linear-gradient(#cbd8ab, #bdd879);
    background-image: -moz-linear-gradient(#cbd8ab, #bdd879);
    background-image: -ms-linear-gradient(#cbd8ab, #bdd879);
    background-image: -o-linear-gradient(#cbd8ab, #bdd879);
    background-image: linear-gradient(#cbd8ab, #bdd879);
}

.btn-github:hover,
.btn-github:focus {
    border-color: #518cc6;
    border-bottom-color: #2a65a0;
    color: #fff;
    background-color: #599bdc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ACD363), to(#86BA27));
    background-image: -webkit-linear-gradient(#ACD363, #86BA27);
    background-image: -moz-linear-gradient(#ACD363, #86BA27);
    background-image: -ms-linear-gradient(#ACD363, #86BA27);
    background-image: -o-linear-gradient(#ACD363, #86BA27);
    background-image: linear-gradient(#ACD363, #86BA27);
}

.btn-github:active {
    border-color: #2A65A0;
    border-bottom-color: #518CC6;
    color: #fff;
    background: #3072B3;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#86BA27), to(#ACD363));
    background: -webkit-linear-gradient(#86BA27, #ACD363);
    background: -moz-linear-gradient(#86BA27, #ACD363);
    background: -ms-linear-gradient(#86BA27, #ACD363);
    background: -o-linear-gradient(#86BA27, #ACD363);
    background: linear-gradient(#86BA27, #ACD363);
}

/*
 * Icon
 */

.btn-github:before {
    margin: 0 0.6em 0 -0.6em;
    background-position: -44px 0;
}

.btn-github:hover:before,
.btn-github:focus:before,
.btn-github:active:before {
    background-position: -66px 0;
}

.btn-github.large:before {
    background-position: -72px -22px;
}

.btn-github.large:hover:before,
.btn-github.large:focus:before,
.btn-github.large:active:before {
    background-position: -108px -22px;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 110px;
    width: 100%;
    overflow:hidden;
}

.loader-container {
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 180px ;
  margin-bottom: auto ;
  max-width: 120px; 
  display: block;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #bdd879; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

